<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>
    <ul class="projects-list">
        <% projects.forEach((project) => { %>
            <li class="project-card">
                <strong><%= project.project_name %></strong>
                <p><%= project.project_description %></p>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>